.container {
    width: 940px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #bcbcbc;
    display: flex;
    flex-wrap: wrap;
}


.content {
    width: 580px;
    padding: 20px;
    margin: 20px 10px 20px 0px;
    float: left;
    border: 1px solid #bcbcbc;
    flex: 1 1 100px;
    position: sticky;
}

.sidebar {
    width: 260px;
    padding: 20px;
    margin: 20px 0px 20px 10px;
    float: right;
    border: 1px solid #bcbcbc;
    flex: 1 1 100px;
}

/* #jb-footer {
    clear: both;
    padding: 20px;
    border: none;
    /* flex: 1 1 100px; */
}

*/ @media (max-width: 341px) {
    .container {
        width: auto;
    }

    .content {
        float: none;
        width: auto;
        margin: 0px 0px 10px 0px;
    }

    .sidebar {
        float: none;
        width: auto;
        margin: 0px 0px 10px 0px;
    }
}