* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none; /* 목록에 점 없애기 */
    text-decoration: none; /* a태그에 색깔 밑줄 없애기 */
    border-collapse: collapse; /* 테이블 태그 선 병합  */
    margin: 0px;
    padding: 0px;
    color: black; 
}


/* 전역 태그 */
h1 {
    font-size: 48px;
    font-weight: 100;
}

.contents {
    font-size: 24px;
}

.contents-main {
    font-size: 20px;
    font-weight: lighter;
}

.contents2-bold {
    font-size: 18px;
    font-weight: bold;
}

.contents3 {
    font-size: 14px;
}


/* 인트로  */
.intro-bg {
    background-image: url("./img/diary.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 650px;
}

.intro-text {
    width: 100%;
    text-align: center;
}

.intro-text > h1,h4{
    color: #fff;
}

.information {
    position: relative;
    top: -66px;
    display: flex;
    width: 80%;
    margin: auto;
    background: #fff;
    box-shadow: 5px 0px 10px rgba(0,0,0,0.1);
}

.information > li {
    flex: 1;
    height: 132px;
}

.information > li:not(:last-child) > div{
    border-right: 1px solid #E1E1E1;
}

.information > li > div {
    text-align: center;
    height: 57px;
    margin-top: 37px;
}

.main-text0 {
    width: 100%;
    height: 601px;
    margin-top: -132px;
    background: #F1F2F3;
}

.main-text0 > h1 {
    padding-top: 116px;
    text-align: center;
    font-weight: bold;
}

.main-text0 > .contents1 {
    text-align: center;
}


/* 포스트 카드 */
.post-card {
    display: flex;
    width: 1280px;
    margin: auto;
}

.post-card > li {
    flex: 1;
    height: auto;
    margin-top: 49px;
    text-align: center;
}